@model EPI_USE.ViewModel.DepartmentViewModel

<h2>Department Details</h2>

<div>
    <h4>@Model.DepartmentName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Department ID</dt>
        <dd class="col-sm-10">@Model.DepartmentId</dd>

        <dt class="col-sm-2">Manager</dt>
        <dd class="col-sm-10">@Model.ManagerName</dd>

        <dt class="col-sm-2">Employee Count</dt>
        <dd class="col-sm-10">@Model.EmployeeCount</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
